
@{
    ViewBag.Title = "TransmitTransaction";
}

<h2>Broadcast Transaction</h2>
<br />
<br />
<h4>@ViewBag.content</h4>

<br />

<p>
    <b> If your transmission was not successful, or have any questions, please contact claims@coinpanic.com or /u/Zelgada on Reddit</b>
</p>
<p>
    Please quote your ClaimId: @ViewBag.ClaimId in your message.
</p>