
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.pubxml
/CoinServer/Properties/Settings.settings
/coinpanic_airdrop/Products
/coinpanic_airdrop/Properties/Settings.settings
/coinpanic_airdrop/AppSettings.config
/coinpanic_airdrop/Database.config
/coinpanic_airdrop/Tools/CoinpanicSignTx.exe.old2
/coinpanic_airdrop/Tools/CoinpanicSignTx.exe.old
/NodeInterface/AppSettings.config
/NodeInterface/Database.config
/CoinpanicSignTx
*/bower_components/*
*/bower_components/*
/LightningNetworkTests/tls.cert
/LightningNetworkTests/TestData.config
/coinpanic_airdrop/bower_components
/NodeInterface/bower_components
/coinpanic_airdrop/Scripts/DataTables/
