[submodule "NBitcoin"]
	path = NBitcoin
	url = https://github.com/Horndev/NBitcoin.git
[submodule "CoinpanicTestData"]
	path = CoinpanicTestData
	url = https://github.com/Horndev/CoinpanicTestData.git
[submodule "CoinpanicSign"]
	path = CoinpanicSign
	url = https://github.com/Horndev/CoinpanicSign.git
