
<div class="card">
    <h3 class="card-header">Lightning Network node information</h3>
    <div class="card-body">
        <div class="partialContents" data-url="/Lightning/NodeURI">
            @*<i class="fa fa-2x fa-spinner fa-pulse"></i> Loading...*@
        </div>
        <div>
            <div class="partialContents" data-url="/Lightning/NodeSummary">
                @*<i class="fa fa-2x fa-spinner fa-pulse"></i> Loading...*@
            </div>
        </div>
    </div>
</div>
<br />
<div class="card">
    <h3 class="card-header">Connections</h3>
    <div class="card-body">
        <div class="partialContents" data-url="/Lightning/NodeChannels">
            <i class="fa fa-2x fa-spinner fa-pulse"></i> Loading...
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".partialContents").each(function (index, item) {
                var url = $(item).data("url");
                if (url && url.length > 0) {
                    $(item).load(url);
                }
            });
        });
    </script>  
}