
@{
    ViewBag.Title = "Web Wallet";
}

<div class="card">
    <h3 class="card-header">Lightning Network Web Wallet</h3>
    <p class="card-text">
        <div class="form-group">
            <div class="col-sm-10">
                A web wallet is a convenient way for users to hold small amounts of Bitcoin for Lightning Network Transactions.

                <p>(Coming soon) You can deposit bitcoin into your web wallet, which will be available to spend on the lightning network through this web interface.</p>
            </div>
        </div>
    </p>
</div>

