<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  
  <add key="UseTestNet" value="True"/>
  
  <add key="LnMainnetHost" value=""/>
  <add key="LnTestnetHost" value="127.0.0.1"/>

  <!-- Macaroons -->
  <add key="LnMainnetMacaroonInvoice" value=""/>
  <add key="LnMainnetMacaroonRead" value=""/>
  <add key="LnMainnetMacaroonAdmin" value=""/>
  <add key="LnTestnetMacaroonRead" value=""/>
  <add key="LnTestnetMacaroonAdmin" value=""/>
</appSettings>