
@{
    ViewBag.Title = "Lightning Wallet";
}

<div class="card">
    <h3 class="card-header">Lightning Network Web Wallet</h3>
    <div class="card-body">
        <p class="card-text">
            Under Development...
        </p>
    </div>
</div>
