@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This webpage was created to help users claim their Bitcoin Forks.</p>

<p>If you find our services helpful to you, please consider donating to support us to develop more services.</p>

<br />
<p>Donation address</p>
<p><img src="~/Content/DonationQR.png" /></p>
<p>3EZ8tgzdBYQz2eanQkHvQUTEH8R3MR2n4E</p>
