
@{
    ViewBag.Title = "Claim";
}

<h2>How to claim</h2>

<h3>You sign transaction</h3>

<p>Does not require you to have a full blockchain download.</p>
<p>Does not require you to divulge your private keys.</p>
<p>Supports SegWit P2SH-P2WPKH addresses (those starting with a '3') and bech32 (those starting with 'bc1')</p>

<h4>How it works</h4>

<p>You provide us a list of your public addresses which you wish to claim from, and an address you would like to deposit those coins </p>
<p>We will generate an unsigned transaction.</p>
<p>You download the client for the coin, or our signing software, and sign the transaction locally with your private keys.</p>
<p>Send us the signed transaction, and we broadcast it on the network for you.</p>
<hr />
