@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:horn@horndev.com">horn@horndev.com</a><br />
    <strong>Reddit:</strong> <a href="https://www.reddit.com/user/Zelgada">/u/Zelgada</a>
</address>