
@{
    ViewBag.Title = "Unscheduled Maintenance";
}

<div class="card">
    <h3 class="card-header">Down for unscheduled maintenance</h3>
    <div class="card-body">
        <p class="card-text">
            <div class="form-group">
                <div class="col-sm-10">
                    Sorry.  This page is down for unscheduled maintenance.  The community jar is being upgraded to prevent malicious users from withdrawing against the rules.
                    It is expected that the upgrades will be complete in the next few days.
                    <br />
                    We apaologize for the inconvenience.
                    <br />
                    <br />
                    
                </div>
            </div>
        </p>
    </div>
</div>

