<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grpc" version="1.10.0" targetFramework="net461" />
  <package id="Grpc.Core" version="1.10.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net461" />
</packages>