<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoinServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="CoinServer.daemons" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <CoinServer.Properties.Settings>
            <setting name="UBTCport" serializeAs="String">
                <value>30002</value>
            </setting>
            <setting name="UBTCuser" serializeAs="String">
                <value>coinpanicubtc</value>
            </setting>
            <setting name="B2Xport" serializeAs="String">
                <value>30001</value>
            </setting>
            <setting name="B2Xuser" serializeAs="String">
                <value>coinpanicb2x</value>
            </setting>
            <setting name="B2Xpw" serializeAs="String">
                <value>coinpanicb2xpw</value>
            </setting>
            <setting name="B2Xwalletpw" serializeAs="String">
                <value />
            </setting>
        </CoinServer.Properties.Settings>
        <CoinServer.daemons>
            <setting name="BCDport" serializeAs="String">
                <value>30001</value>
            </setting>
            <setting name="UBTCport" serializeAs="String">
                <value>30002</value>
            </setting>
        </CoinServer.daemons>
    </applicationSettings>
</configuration>